<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<link rel="stylesheet" href="bootstrap.css">
	<style>
		.form-horizontal .form-group{
			margin-right: 0;
		}
		input.ng-invalid{
			border:1px solid #aa1100;
		}
		input.ng-pristine{
			border:1px solid green;
		}
		input.ng-valid{
			border:1px solid green;
		}
	</style>
</head>
<body>
	<form class="form-horizontal" role="form" novalidate name='MyForm' ng-app='MyApp' ng-controller='MyController'>
		<div class="form-group">
			<label class="col-sm-2 control-label">姓名：</label>
			<div class="col-sm-8">
				<input class="form-control"
					   id="focusedInput"
					   type="text"
					   name='username'
					   ng-model='username'
					   placeholder='请输入用户名'
						required
						ng-pattern='/[[\u4e00-\u9fa5]]/'>
			</div>
			<div class='col-sm-2' ng-messages='MyForm.username.$error'>
				<div ng-message='pattern'>用户名必须为中文</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-2 control-label">密码：</label>
			<div class="col-sm-8">
				<input class="form-control"
					   id="disabledInput"
					   type="text"
					   ng-model='psw'
					   name='psw'
					   ng-minlength='4'
					   ng-maxlength='8'
					   placeholder="请输入密码"
				>
			</div>
			<div class='col-sm-2' ng-messages='MyForm.psw.$error'>
				<div ng-message='minlength'>密码长度最短为4</div>
				<div ng-message='maxlength'>密码长度最长为8</div>
			</div>
		</div>
	</form>
	<script src='angular.min.js'></script>
	<script src='angular-messages.min.js'></script>
	<script>
		var app =angular.module('MyApp',['ngMessages']);
		app.controller('MyController',function($scope){

		})
	</script>
</body>
</html>